In [69]:
import numpy as mp
import pandas as pd
import scipy
import requests
import os
import requests
from pandas import read_html

In [70]:
csv_file_path = 'C:/Users/phong/OneDrive/Desktop/usstock/nasdaq_screener2.csv'
df = pd.read_csv(csv_file_path)

In [71]:
df = df[['ticker','url']]

In [19]:
#df = df.head(5)

In [74]:
import pandas as pd
import os
import requests

# Path to the directory where you want to save the Python files
directory = "C:/Users/phong/OneDrive/Desktop/program2"
directory2 = "C:/Users/phong/OneDrive/Desktop/save2"

# Create the directory if it doesn't exist
if not os.path.exists(directory):
    os.makedirs(directory)

# Assuming df is already defined with ticker and url columns
# Loop through the DataFrame rows
for index, row in df.iterrows():
    # Get Symbol and url values from the current row
    ticker = row['ticker']
    url = row['url']
    
    # Create the Python file name
    file_name = f"{ticker}.py"
    # Create the full file path
    file_path = os.path.join(directory, file_name)
    # Generate the Python script content
    script_content = f"""
import pandas as pd
import requests

headers = {{
  'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}}

url = '{url}'
response = requests.get(url, headers=headers)

data = pd.read_html(response.text)
df = pd.DataFrame(data[0])

# Add a new column 'Ticker' with value '{ticker}'
df['Ticker'] = '{ticker}'

# Rename the columns
df.columns = ['Date', 'TTM Net Income', 'Total Assets', 'Return on Assets', 'Ticker']

csv_filename = "{directory2}/{ticker}.csv"
df.to_csv(csv_filename, index=False)
"""
    # Write the script content to the Python file
    with open(file_path, "w") as file:
        file.write(script_content)

In [68]:
import pandas as pd
import requests

headers = {
  'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

url = 'https://www.macrotrends.net/stocks/charts/A/apple/roa'
response = requests.get(url, headers=headers)

data = pd.read_html(response.text)
df = pd.DataFrame(data[0])

# Add a new column 'Ticker' with value 'A'
df['Ticker'] = 'A'

# Rename the columns
df.columns = ['Date', 'TTM Net Income', 'Total Assets', 'Return on Assets', 'Ticker']
csv_filename = "C:/Users/phong/OneDrive/Desktop/save2/A.csv"
df.to_csv(csv_filename, index=False)

In [67]:
df.head()

         Date TTM Net Income Total Assets Return on Assets Ticker
0  2024-01-31         $1.24B      $10.95B           11.45%      A
1  2023-10-31         $1.24B      $10.76B           11.50%      A
2  2023-07-31         $1.13B      $10.68B           10.56%      A
3  2023-04-30         $1.35B      $10.79B           12.65%      A
4  2023-01-31         $1.32B      $10.92B           12.48%      A