In [2]:
import numpy as mp
import pandas as pd
import scipy
import requests
import os
import requests
from pandas import read_html

In [3]:
csv_file_path = 'C:/Users/phong/OneDrive/Desktop/usstock/nasdaq_screener.csv'
df = pd.read_csv(csv_file_path)

In [4]:
df = df[['ticker','url']]

In [19]:
#df = df.head(5)

In [29]:
import pandas as pd
import os


# Path to the directory where you want to save the Python files
directory = "C:/Users/phong/OneDrive/Desktop/program"
directory2 = "C:/Users/phong/OneDrive/Desktop/save"


# Create the directory if it doesn't exist
if not os.path.exists(directory):
    os.makedirs(directory)

# Loop through the DataFrame rows
for index, row in df.iterrows():
    # Get Symbol and url values from the current row
    ticker = row['ticker']
    url = row['url']
    
    # Create the Python file name
    file_name = f"{ticker}.py"
    # Create the full file path
    file_path = os.path.join(directory, file_name)
    # Generate the Python script content
    script_content = f"""
import pandas as pd
import requests

headers = {{
  'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}}

url = '{url}'
response = requests.get(url, headers=headers)

data = pd.read_html(response.text)
df = pd.DataFrame(data[0])

df['ticker'] = '{ticker}'
df.columns = ['Date', 'Stock Price', 'TTM Net EPS', 'PE Ratio','Ticker']

csv_filename = "{directory2}/{ticker}.csv"
df.to_csv(csv_filename, index=False)
"""
    # Write the script content to the Python file
    with open(file_path, "w") as file:
        file.write(script_content)

In [8]:
import pandas as pd
import requests

headers = {
  'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

url = 'https://www.macrotrends.net/stocks/charts/A/apple/roa'
response = requests.get(url, headers=headers)

data = pd.read_html(response.text)
df = pd.DataFrame(data[0])

In [9]:
df.head()

  Agilent Technologies ROA - Return on Assets Historical Data                 \
                                                         Date TTM Net Income
0                                         2024-01-31                  $1.24B
1                                         2023-10-31                  $1.24B
2                                         2023-07-31                  $1.13B
3                                         2023-04-30                  $1.35B
4                                         2023-01-31                  $1.32B


  Total Assets Return on Assets
0      $10.95B           11.45%
1      $10.76B           11.50%
2      $10.68B           10.56%
3      $10.79B           12.65%
4      $10.92B           12.48%

In [ ]:
df['ticker'] = 'A'
df.columns = ['Date', 'TTM Net Income', 'TTM Net EPS', 'PE Ratio','Ticker']

csv_filename = "C:/Users/phong/OneDrive/Desktop/save/A.csv"
df.to_csv(csv_filename, index=False)