In [1]:
import os
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
from dateutil.parser import parse
from dateutil.relativedelta import relativedelta
from vnstock import *

In [2]:
list = listing_companies(live=True)
list = list[list['comGroupCode'] == "HOSE"]

In [3]:
#Import file from local path:
csv_file_path = 'C:/Users/atlas/OneDrive/Desktop/vnstock/daily_price.csv'
daily_price = pd.read_csv(csv_file_path)

In [4]:
daily_price.head(2)

         time   open   high    low  close   volume ticker
0  2024-04-12  10800  10900  10650  10800  3471800    AAA
1  2024-04-15  10700  10750  10050  10050  5509000    AAA

In [5]:
max_date = daily_price['time'].max()

In [11]:
max_date

'2024-04-17'

In [15]:
# Convert 'max_date' to datetime object
max_date = pd.to_datetime(max_date)

# Add one day to the maximum date
max_date_plus_one_day = (max_date + timedelta(days=1)).strftime('%Y-%m-%d')
max_date_plus_one_day

'2024-04-18'

In [ ]:
symbols = list['ticker'].tolist() 
dfs = []

# Get today's date
today = datetime.now().strftime("%Y-%m-%d")

for symbol in symbols:
    # Calculate start date
    start_date = max_date_plus_one_day
    end_date = today  # Use today's date
    
    # Fetch historical price data
    df = stock_historical_data(symbol, start_date, end_date, "1D", 'stock')
    
    dfs.append(df)

# Concatenate all dataframes into a single dataframe
df_append = pd.concat(dfs, ignore_index=True)

In [37]:
# combine historical data and extra data
df_append = pd.concat([df_append, daily_price], ignore_index=True)

In [38]:
# write df to csv file and open it.
csv_file_path = 'C:/Users/atlas/OneDrive/Desktop/vnstock/daily_price.csv'
df_append.to_csv(csv_file_path, index=False)