In [1]:
import numpy as mp
import pandas as pd
import scipy
import requests
import os
import requests
from pandas import read_html

In [ ]:
csv_file_path = 'C:/Users/phong/OneDrive/Desktop/vnstock/price.csv'
df = pd.read_csv(csv_file_path)

In [2]:


df = df.sort_values(by=['ticker', 'time'])

# Group by ticker and calculate the change
df['change'] = df.groupby('ticker')['close'].transform(lambda x: (x > x.shift(1)).astype(int))
df['change'] = df['change'].apply(lambda x: 'A' if x == 1 else 'B')
df.head()

,time,close,ticker,month,year,yearmonth,next month price,last month price,return,ranking,change
0,2012-03-30,4461.0,AAA,3,2012,2012-03-01,5178.0,NaN,0.160726,97.0,B
1,2012-04-27,5178.0,AAA,4,2012,2012-04-01,4484.0,4461.0,-0.134029,208.0,A
2,2012-05-31,4484.0,AAA,5,2012,2012-05-01,3930.0,5178.0,-0.123550,214.0,B
3,2012-06-29,3930.0,AAA,6,2012,2012-06-01,4138.0,4484.0,0.052926,39.0,B
4,2012-07-31,4138.0,AAA,7,2012,2012-07-01,3873.0,3930.0,-0.064041,137.0,A

In [3]:
import pandas as pd

# Assuming df is your DataFrame
# Convert 'time' column to datetime if it's not already
df['time'] = pd.to_datetime(df['time'])

# Sort DataFrame by 'time'
df = df.sort_values(by='time')

# Group by 'ticker' and shift 'change' column to create columns for previous months
df['d-1'] = df.groupby('ticker')['change'].shift(1)
df['d-2'] = df.groupby('ticker')['change'].shift(2)
df['d-3'] = df.groupby('ticker')['change'].shift(3)
df['d-4'] = df.groupby('ticker')['change'].shift(4)
df['d-5'] = df.groupby('ticker')['change'].shift(5)
df['d-6'] = df.groupby('ticker')['change'].shift(6)

In [4]:
# Concatenate values from 'd-6' to 'd-1' along rows after filtering out 0 and "." and create a new column 'hexagram'
df['hexagram'] = df[['d-6', 'd-5', 'd-4', 'd-3', 'd-2', 'd-1']].replace({0:'', '.':''}).astype(str).agg(''.join, axis=1)

In [5]:
df['flag'] = df['hexagram'].apply(lambda x: 0 if 'nan' in x else 1)

In [6]:
csv_file_path = 'C:/Users/phong/OneDrive/Desktop/vnstock/test1.csv'
df.to_csv(csv_file_path, index=False)

# Open the CSV file
os.startfile(csv_file_path)