In [3]:
import pandas as pd
import numpy as np
from vnstock import *
from datetime import *
from datetime import datetime, timedelta

In [158]:
#IncomeStatement and Balancesheet

#df = financial_report(symbol='DSN', report_type='IncomeStatement', frequency='Quarterly', periods=100, latest_year=None)
#df2 = financial_report(symbol='DSN', report_type='BalanceSheet', frequency='quarterly', periods=100, latest_year=None)

In [4]:
csv_file_path = 'C:/Users/atlas/OneDrive/Desktop/vnstock/ratio.csv'
result_df = pd.read_csv(csv_file_path)

csv_file_path = 'C:/Users/atlas/OneDrive/Desktop/vnstock/price.csv'
price_df = pd.read_csv(csv_file_path)

PermissionError: [Errno 13] Permission denied: 'C:/Users/atlas/OneDrive/Desktop/vnstock/ratio.csv'

In [160]:
# Assuming you have a DataFrame called price_df

# Convert the 'time' column to datetime
price_df['time'] = pd.to_datetime(price_df['time'])

# Sort the DataFrame by 'time' column
price_df.sort_values(by='time', inplace=True)

# Calculate the latest price for each ticker
latest_prices = price_df.groupby('ticker')['close'].last()

# Map the latest prices to the DataFrame based on ticker
price_df['latest_price'] = price_df['ticker'].map(latest_prices)

In [161]:
import pandas as pd

def create_reporting_time(range_column):
    # Extract year and quarter from the 'range' column
    year = range_column.str.split('-').str[1].astype(int)
    quarter = range_column.str.split('-').str[0]
    
    # Define a mapping from quarter to month
    quarter_to_month = {'Q1': '03', 'Q2': '06', 'Q3': '09', 'Q4': '12'}
    
    # Create the 'reporting_time' column by combining year and month
    reporting_time = year.astype(str) + '-' + quarter.map(quarter_to_month)
    
    return reporting_time

def create_buying_time(reporting_time_column):
    # Convert 'reporting_time' column to datetime format
    reporting_time = pd.to_datetime(reporting_time_column)
    
    # Add 1 month to the 'reporting_time' column
    buying_time = reporting_time + pd.DateOffset(months=1)
    
    # Round datetime values to the beginning of the month
    buying_time = buying_time - pd.to_timedelta(buying_time.dt.day - 1, unit='d')
    
    # Extract only year and month from the datetime and format it as 'YYYY-MM'
    buying_time = buying_time.dt.strftime('%Y-%m')
    
    return buying_time

def create_selling_time(buying_time_column):
    # Convert 'buying_time' column to datetime format
    buying_time = pd.to_datetime(buying_time_column)
    
    # Add 1 year to the 'buying_time' column
    selling_time = buying_time + pd.DateOffset(years=1)
    
    # Convert 'selling_time' column to year-month format
    selling_time = selling_time.dt.strftime('%Y-%m')
    
    return selling_time

# Example usage assuming you have a DataFrame called result_df with a column 'range'
# Create 'reporting_time' column
result_df['reporting_time'] = create_reporting_time(result_df['range'])

# Create 'buying_time' column
result_df['buying_time'] = create_buying_time(result_df['reporting_time'])

# Create 'selling_time' column
result_df['selling_time'] = create_selling_time(result_df['buying_time'])

# Convert 'buying_time' to datetime format and then to 'YYYY-MM' format
result_df['buying_time'] = pd.to_datetime(result_df['buying_time'])
result_df['buying_time'] = result_df['buying_time'].dt.strftime('%Y-%m')

# Subtract 1 year from 'buying_time' to get 'last_year_time'
result_df['last_year_time'] = pd.to_datetime(result_df['buying_time']) - pd.DateOffset(years=1)
result_df['last_year_time'] = result_df['last_year_time'].dt.strftime('%Y-%m')
result_df['buying_year'] = result_df['buying_time'].apply(lambda x: int(x.split('-')[0]))
result_df['reporting_year'] = result_df['reporting_time'].apply(lambda x: int(x.split('-')[0]))

In [162]:
result_df['ROA flag'] = [0 if val <= 0.25 else 1 for val in result_df['roa']]

In [163]:
price_df['time'] = pd.to_datetime(price_df['time'])

price_df['yearmonth'] = price_df['time'].dt.strftime('%Y-%m')


# Check for duplicates based on 'ticket' and 'yearmonth' columns
duplicate_rows = price_df.duplicated(subset=['ticker', 'yearmonth'], keep=False)

# Display duplicate rows (if any)
print(price_df[duplicate_rows])

# Drop duplicate rows based on 'ticket' and 'yearmonth' columns
price_df.drop_duplicates(subset=['ticker', 'yearmonth'], keep='first', inplace=True)

Empty DataFrame
Columns: [time, open, high, low, close, volume, ticker, yearmonth, max_price_ever, Avg12M, Min12M, Max12M, year, max_prev_years, latest_price]
Index: []

In [164]:
# buying price
merged_df = pd.merge(result_df, price_df[['ticker', 'yearmonth', 'close']], 
                     left_on=['ticker', 'buying_time'], right_on=['ticker', 'yearmonth'], 
                     how='left')
merged_df.rename(columns={'close': 'buying_price'}, inplace=True)
merged_df.drop(columns=['yearmonth'], inplace=True)



# selling price
merged_df = pd.merge(merged_df, price_df[['ticker', 'yearmonth', 'close']], 
                     left_on=['ticker', 'selling_time'], right_on=['ticker', 'yearmonth'], 
                     how='left')
merged_df.rename(columns={'close': 'selling_price'}, inplace=True)
merged_df.drop(columns=['yearmonth'], inplace=True)




# reporting price
merged_df = pd.merge(merged_df, price_df[['ticker', 'yearmonth', 'close']], 
                     left_on=['ticker', 'reporting_time'], right_on=['ticker', 'yearmonth'], 
                     how='left')
merged_df.rename(columns={'close': 'reporting_price'}, inplace=True)
merged_df.drop(columns=['yearmonth'], inplace=True)


# last year price
merged_df = pd.merge(merged_df, price_df[['ticker', 'yearmonth', 'close']], 
                     left_on=['ticker', 'last_year_time'], right_on=['ticker', 'yearmonth'], 
                     how='left')
merged_df.rename(columns={'close': 'last_year_price'}, inplace=True)
merged_df.drop(columns=['yearmonth'], inplace=True)



# max ever price
merged_df = pd.merge(merged_df, price_df[['ticker', 'yearmonth', 'max_price_ever']], 
                     left_on=['ticker', 'buying_time'], right_on=['ticker', 'yearmonth'], 
                     how='left')
merged_df.rename(columns={'max_price_ever': 'max_price_ever'}, inplace=True)
merged_df.drop(columns=['yearmonth'], inplace=True)


# max prev years
merged_df = pd.merge(merged_df, price_df[['ticker', 'yearmonth', 'max_prev_years']], 
                     left_on=['ticker', 'buying_time'], right_on=['ticker', 'yearmonth'], 
                     how='left')
merged_df.rename(columns={'max_prev_years': 'max_prev_years'}, inplace=True)
merged_df.drop(columns=['yearmonth'], inplace=True)

# Avg12M
merged_df = pd.merge(merged_df, price_df[['ticker', 'yearmonth', 'Avg12M']], 
                     left_on=['ticker', 'buying_time'], right_on=['ticker', 'yearmonth'], 
                     how='left')
merged_df.rename(columns={'Avg12M': 'Avg12M'}, inplace=True)
merged_df.drop(columns=['yearmonth'], inplace=True)

# Min12M
merged_df = pd.merge(merged_df, price_df[['ticker', 'yearmonth', 'Min12M']], 
                     left_on=['ticker', 'buying_time'], right_on=['ticker', 'yearmonth'], 
                     how='left')
merged_df.rename(columns={'Min12M': 'Min12M'}, inplace=True)
merged_df.drop(columns=['yearmonth'], inplace=True)


# latest price
merged_df = pd.merge(merged_df, price_df[['ticker', 'yearmonth', 'latest_price']], 
                     left_on=['ticker', 'buying_time'], right_on=['ticker', 'yearmonth'], 
                     how='left')
merged_df.rename(columns={'latest_price': 'latest_price'}, inplace=True)
merged_df.drop(columns=['yearmonth'], inplace=True)

In [165]:
merged_df['reporting_price'] = merged_df['reporting_price'].astype(float)
merged_df['earningPerShare'] = merged_df['earningPerShare'].astype(float)
merged_df['PE'] = merged_df['reporting_price'] / merged_df['earningPerShare']

In [166]:
merged_df['PE2'] = merged_df['priceToEarning'].fillna(merged_df['PE'])

In [167]:
# Remove commas from 'selling_price' and 'buying_price' columns
#merged_df['selling_price'] = merged_df['selling_price'].str.replace(',', '')
#merged_df['buying_price'] = merged_df['buying_price'].str.replace(',', '')

# Remove commas from 'selling_price' and 'buying_price' columns
merged_df['selling_price'] = merged_df['selling_price'].replace(',', '', regex=True)
merged_df['buying_price'] = merged_df['buying_price'].replace(',', '', regex=True)


# Convert 'selling_price' and 'buying_price' columns to float
merged_df['selling_price'] = merged_df['selling_price'].astype(float)
merged_df['buying_price'] = merged_df['buying_price'].astype(float)

# Remove commas from 'selling_price' and 'buying_price' columns
#merged_df['last_year_price'] = merged_df['last_year_price'].str.replace(',', '')
merged_df['last_year_price'] = merged_df['last_year_price'].replace(',', '', regex=True)

# Convert 'selling_price' and 'buying_price' columns to float
merged_df['last_year_price'] = merged_df['last_year_price'].astype(float)

# Remove commas from 'selling_price' and 'buying_price' columns
#merged_df['last_year_price'] = merged_df['last_year_price'].str.replace(',', '')
merged_df['max_prev_years'] = merged_df['max_prev_years'].replace(',', '', regex=True)

# Convert 'selling_price' and 'buying_price' columns to float
merged_df['max_prev_years'] = merged_df['max_prev_years'].astype(float)

# Remove commas from 'selling_price' and 'buying_price' columns
merged_df['max_price_ever'] = merged_df['max_price_ever'].str.replace(',', '')

# Convert 'selling_price' and 'buying_price' columns to float
merged_df['max_price_ever'] = merged_df['max_price_ever'].astype(float)


# Remove commas from 'selling_price' and 'buying_price' columns
merged_df['Avg12M'] = merged_df['Avg12M'].str.replace(',', '')

# Convert 'selling_price' and 'buying_price' columns to float
merged_df['Avg12M'] = merged_df['Avg12M'].astype(float)

In [168]:
#merged_df['return'] = merged_df['selling_price'] / merged_df['buying_price'] - 1

# If selling_price is not available (null), use latest_price for calculation
merged_df['return'] = merged_df.apply(lambda row: (row['latest_price'] / row['buying_price'] - 1) if pd.isnull(row['selling_price']) else (row['selling_price'] / row['buying_price'] - 1), axis=1)

In [169]:
merged_df = merged_df[(merged_df['PE2'] != 'tex') & (merged_df['PE2'].notnull()) & (merged_df['PE2'] > 0)]

In [170]:
# Assuming merged_df is your DataFrame

# Calculate ranking for priceToEarning
merged_df['ranking_pe'] = merged_df.groupby('range')['PE2'].rank(ascending=True, method='dense')

# Fill NaN or infinite values with -1
merged_df['ranking_pe'].fillna(-1, inplace=True)
merged_df['ranking_pe'] = merged_df['ranking_pe'].astype(int)

# Calculate ranking for roa
merged_df['ranking_roa'] = merged_df.groupby('range')['roa'].rank(ascending=False, method='dense')

# Fill NaN or infinite values with -1
merged_df['ranking_roa'].fillna(-1, inplace=True)
merged_df['ranking_roa'] = merged_df['ranking_roa'].astype(int)

# Create a new column called total_ranking
merged_df['total_ranking'] = merged_df['ranking_pe'] + merged_df['ranking_roa']

# Create a new column called final_ranking based on total_ranking
merged_df['final_ranking'] = merged_df.groupby('range')['total_ranking'].rank(ascending=True, method='dense').astype(int)

In [171]:
merged_df['Top selection flag'] = [1 if val <= 7 else 0 for val in merged_df['final_ranking']]

In [172]:
# Calculate price increase for last month
merged_df['price_increase_last_month'] = merged_df['buying_price'] / merged_df['reporting_price'] - 1

# Calculate price increase for last year
merged_df['price_increase_last_year'] = merged_df['buying_price'] / merged_df['last_year_price'] - 1


merged_df['price_flag (increase from last month)'] = np.where(
    (merged_df['price_increase_last_month'] > 0) & 
    (merged_df['price_increase_last_month'] < 0.3), 1, 0
)

merged_df['price_flag (increase from last year)'] = np.where(
    (merged_df['price_increase_last_month'] > 0), 1, 0
)

# Create 'price_flag (increase from max ever)' column
merged_df['price_flag (increase from max ever)'] = np.where(
    (merged_df['buying_price'] > merged_df['max_price_ever']), 1, 0
)


# Create 'price_flag (increase from max ever)' column
merged_df['price_flag (increase from prev years)'] = np.where(
    (merged_df['buying_price'] > merged_df['max_prev_years']), 1, 0
)

# Ensure that 'Min12M' doesn't have any non-numeric values after conversion
merged_df['price_increase_from_Min12M'] = merged_df['buying_price'] / merged_df['Min12M'].replace([np.inf, -np.inf], np.nan).fillna(0) - 1


merged_df['price_flag (increase from Min12M)'] = np.where(
    (merged_df['price_increase_from_Min12M'] > 2), 0, 1
)


merged_df['price_flag (increase from Avg12M)'] = np.where(
    (merged_df['buying_price'] > merged_df['Avg12M']), 1, 0
)


merged_df['buying_month'] = merged_df['buying_time'].str.split('-').str[1]

In [173]:
merged_df['G7'] = merged_df['ROA flag'] +  merged_df['Top selection flag'] + merged_df['price_flag (increase from last month)'] + merged_df['price_flag (increase from last year)'] + merged_df['price_flag (increase from prev years)'] + merged_df['price_flag (increase from Min12M)'] + merged_df['price_flag (increase from Avg12M)']

In [186]:
con1 = merged_df['G7'] == 7

summary = merged_df[con1]
summary = summary[['buying_year', 'ticker', 'buying_time', 'selling_time', 'return', 'buying_price', 'selling_price','latest_price']]
summary = summary.sort_values(by='buying_time', ascending=False)  # Sorting by 'buying_time' in descending order
summary.reset_index(drop=True, inplace=True)  # Resetting index while dropping the old index
summary['return'] = (summary['return'] * 100).round(1).astype(str) + '%'
summary['buying_price'] = summary['buying_price'].apply(lambda x: '{:,.{}f}'.format(x, 0 if x == int(x) else 2))
summary['selling_price'] = summary['selling_price'].apply(lambda x: '{:,.{}f}'.format(x, 0 if np.isnan(x) or x == int(x) else 2))
summary['latest_price'] = summary['latest_price'].apply(lambda x: '{:,.{}f}'.format(x, 0 if x == int(x) else 2))

summary

,buying_year,ticker,buying_time,selling_time,return,buying_price,selling_price,latest_price
0,2023,VIP,2023-07,2024-07,-7.8%,"12,200",nan,"11,250"
1,2023,DSN,2023-04,2024-04,4.6%,"53,920",nan,"56,400"
2,2022,ST8,2022-07,2023-07,52.2%,"15,700","23,900","10,550"
3,2021,ADP,2021-04,2022-04,22.2%,"17,400","21,260","23,600"
4,2020,NHA,2020-10,2021-10,363.2%,"7,398","34,270","22,300"
5,2020,VCF,2020-10,2021-10,20.9%,"192,935","233,170","232,700"
6,2020,VCF,2020-01,2021-01,40.5%,"156,148","219,452","232,700"
7,2019,TMP,2019-04,2020-04,-8.9%,"23,020","20,970","71,400"
8,2019,TMP,2019-01,2020-01,11.0%,"20,370","22,610","71,400"
9,2019,NNC,2019-01,2020-01,7.0%,"37,550","40,170","17,700"
10,2018,TMP,2018-10,2019-10,13.7%,"18,850","21,440","71,400"
11,2018,DSN,2018-10,2019-10,10.3%,"38,720","42,710","56,400"
12,2018,DRL,2018-01,2019-01,11.6%,"28,450","31,760","66,600"
13,2017,GDT,2017-10,2018-10,-8.3%,"23,860","21,890","27,500"
14,2017,DRL,2017-10,2018-10,40.6%,"23,460","32,980","66,600"
15,2017,DRL,2017-07,2018-07,40.1%,"22,150","31,040","66,600"
16,2017,GDT,2017-04,2018-04,-9.5%,"22,600","20,450","27,500"
17,2016,NNC,2016-07,2017-07,-3.6%,"32,240","31,090","17,700"
18,2016,NNC,2016-04,2017-04,55.7%,"20,280","31,570","17,700"
19,2016,DVP,2016-01,2017-01,29.1%,"32,439","41,870","76,300"
20,2016,LIX,2016-01,2017-01,46.6%,"24,660","36,150","67,500"
21,2015,NNC,2015-10,2016-10,106.2%,"17,300","35,670","17,700"
22,2015,DSN,2015-10,2016-10,37.1%,"25,960","35,580","56,400"
23,2015,NNC,2015-07,2016-07,119.5%,"14,690","32,240","17,700"
24,2015,NNC,2015-04,2016-04,39.4%,"14,550","20,280","17,700"
25,2015,DSN,2015-01,2016-01,40.1%,"21,120","29,580","56,400"
26,2015,NNC,2015-01,2016-01,22.6%,"13,990","17,150","17,700"
27,2014,DSN,2014-10,2015-10,27.0%,"20,440","25,960","56,400"
28,2014,DRL,2014-10,2015-10,23.7%,"13,360","16,520","66,600"
29,2014,NNC,2014-10,2015-10,41.7%,"12,210","17,300","17,700"
30,2014,DRL,2014-07,2015-07,42.1%,"11,930","16,950","66,600"
31,2014,NNC,2014-07,2015-07,33.8%,"10,980","14,690","17,700"
32,2014,C32,2014-04,2015-04,19.5%,"11,870","14,180","18,000"
33,2014,DRL,2014-04,2015-04,33.5%,"12,140","16,210","66,600"
34,2014,NNC,2014-01,2015-01,79.1%,"7,810","13,990","17,700"
35,2013,DPM,2013-01,2014-01,9.9%,"14,990","16,480","35,850"
36,2013,NNC,2013-01,2014-01,33.7%,"5,840","7,810","17,700"

In [175]:
csv_file_path = 'C:/Users/atlas/OneDrive/Desktop/vnstock/summary.csv'
summary.to_csv(csv_file_path, index=False)

# Open the CSV file
os.startfile(csv_file_path)

In [176]:
csv_file_path = 'C:/Users/atlas/OneDrive/Desktop/vnstock/merged_df.csv'
merged_df.to_csv(csv_file_path, index=False)

# Open the CSV file
os.startfile(csv_file_path)