In [2]:
import pandas as pd
import numpy as np
from vnstock import *
from datetime import *
import os
from datetime import datetime, timedelta

In [7]:
list = listing_companies(live=True)
list = list[list['comGroupCode'] == "HOSE"]

In [13]:
path = 'C:/Users/atlas/OneDrive/Desktop/vnstock'
daily_price = pd.read_csv(path + '/daily_price.csv')

In [17]:
#create monthly table
df = daily_price
df['time'] = pd.to_datetime(df['time'])

# Extract year and month from the 'time' column
df['YearMonth'] = df['time'].dt.to_period('M')

# Find the maximum date for each year-month group
max_dates = df.groupby('YearMonth')['time'].max()

# Filter df to include only rows with the maximum date for each year-month group
df = df[df['time'].isin(max_dates)].copy()  # Explicitly create a copy

# Drop the 'YearMonth' column if you no longer need it
df.drop('YearMonth', axis=1, inplace=True)

# Reset index if needed
df.reset_index(drop=True, inplace=True)

df['time'] = pd.to_datetime(df['time'])
df['year'] = df['time'].dt.year
df['yearmonth'] = df['time'].dt.strftime('%Y-%m')

In [18]:
df[df['ticker']== 'AAA'].head()

          time  open   high   low  close   volume ticker  year yearmonth
0   2024-04-17  9950  10200  9820   9900  2107900    AAA  2024   2024-04
374 2012-03-30  4508   4623  4300   4461   234900    AAA  2012   2012-03
375 2012-04-27  4970   5178  4970   5178   227500    AAA  2012   2012-04
376 2012-05-31  4577   4646  4461   4484   199700    AAA  2012   2012-05
377 2012-06-29  4022   4022  3907   3930    60600    AAA  2012   2012-06

In [19]:
# Loop to find max price for previous years (excluding current year) for each ticker
for ticker, data in df.groupby(['ticker']):
    max_prices = {}  # Create a separate max_prices dictionary for each ticker
    for row in data.itertuples():
        current_year = row.year
        current_price = row.close

        # Skip the first row (current year has no previous years)
        if current_year == data['year'].min():
            continue

        # Initialize max_price for this ticker (if not already done)
        if current_year not in max_prices:
            max_prices[current_year] = float('-inf')  # Negative infinity

        # Handle missing values in 'close' column (assuming numerical data)
        filtered_data = data[data['year'] < current_year]
        if filtered_data.empty:  # No previous data for this year
            continue  # Skip to next iteration

        # Ensure numerical comparison by converting 'close' to numeric (assuming numerical data)
        max_prev_price = filtered_data['close'].astype(float).max()  # Convert to float before max

        # Update max_price with previous years' prices (excluding current year)
        max_prices[current_year] = max(max_prices[current_year], max_prev_price)

    # Add "max_prev_years" column for the current ticker's data
    data['max_prev_years'] = data['year'].apply(lambda x: max_prices.get(x) if x in max_prices else pd.NA)  # Use 'year' for comparison

    # Update the main DataFrame with the calculated values for this ticker
    df.loc[data.index, 'max_prev_years'] = data['max_prev_years']

In [21]:
# Assuming you have a DataFrame called df

# Convert the 'time' column to datetime
df['time'] = pd.to_datetime(df['time'])

# Sort the DataFrame by 'time' column
df.sort_values(by='time', inplace=True)

# Calculate the cumulative maximum of the 'close' column up to each row
df['max_price_ever'] = df.groupby('ticker')['close'].expanding().max().reset_index(level=0, drop=True)

# Shift the values to exclude the current row's price
df['max_price_ever'] = df.groupby('ticker')['max_price_ever'].shift()

In [ ]:
# Assuming df is your DataFrame with columns: time, open, high, low, close, volume, ticker, yearmonth

# Convert 'time' column to datetime format
df['time'] = pd.to_datetime(df['time'])

# Sort DataFrame by 'time' column
df.sort_values(by='time', inplace=True)

# Define a function to calculate average, minimum, and maximum of the last 12 months
def calculate_stats(row):
    # Filter the DataFrame for the last 12 months before the current time
    last_12_months = df[(df['ticker'] == row['ticker']) & (df['time'] < row['time']) & (df['time'] >= row['time'] - pd.DateOffset(months=12))]
    # Calculate average, minimum, and maximum of the 'close' column for the filtered data
    avg = last_12_months['close'].mean()
    min_value = last_12_months['close'].min()
    max_value = last_12_months['close'].max()
    return pd.Series({'Avg12M': avg, 'Min12M': min_value, 'Max12M': max_value})

# Apply the function to each row of the DataFrame and assign the result to new columns
df[['Avg12M', 'Min12M', 'Max12M']] = df.apply(calculate_stats, axis=1)

In [ ]:
csv_file_path = 'C:/Users/atlas/OneDrive/Desktop/vnstock/price.csv'
df.to_csv(csv_file_path, index=False)

# Open the CSV file
os.startfile(csv_file_path)

# Get financial  Ratio

In [ ]:
import pandas as pd

def error_detective(symbols):
    dfs = []
    problematic_symbols = []
    
    for symbol in symbols:
        try:
            df = financial_ratio(symbol=symbol, report_range='quarterly', is_all=True)
            df = df.transpose().reset_index()
            df = df[['range', 'ticker', 'priceToEarning','earningPerShare','roa']]
            dfs.append(df)
        except KeyError:
            print(f"Error occurred for symbol: {symbol}")
            problematic_symbols.append(symbol)
    
    if problematic_symbols:
        print("Error detective found issues with the following symbols:")
        print(problematic_symbols)
    
    df_append = pd.concat(dfs, ignore_index=True)
    return df_append

# Assuming 'financial_ratio' function and 'list' are defined elsewhere

# Example usage:
symbols = list['ticker'].tolist()  # Assuming 'list' is a DataFrame with a column named 'ticker'
df = error_detective(symbols)
print(df)

In [ ]:
csv_file_path = 'C:/Users/atlas/OneDrive/Desktop/vnstock/ratio.csv'
df.to_csv(csv_file_path, index=False)

# Open the CSV file
os.startfile(csv_file_path)