In [16]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

import yfinance

raw_data = yfinance.download (tickers = "^GSPC", start = "1994-01-07", 
                              end = "2025-09-01", interval = "1d")

[*********************100%%**********************]  1 of 1 completed

In [20]:
# Reset index
raw_data.reset_index(drop=False, inplace=True)
df = raw_data[['Date','Close']]

In [21]:
df

           Date        Close
0    1994-01-07   469.899994
1    1994-01-10   475.269989
2    1994-01-11   474.130005
3    1994-01-12   474.170013
4    1994-01-13   472.470001
...         ...          ...
7637 2024-05-09  5214.080078
7638 2024-05-10  5222.680176
7639 2024-05-13  5221.419922
7640 2024-05-14  5246.680176
7641 2024-05-15  5281.200195

[7642 rows x 2 columns]